---
# -------------------------------------------------------------------------
# Internal Records - Handled by homelab Caddy instance (rpi)
# -------------------------------------------------------------------------
internal_reverse_proxy_records:
  - domain: bazarr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:6767"
  - domain: browser.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:3080"
  - domain: flaresolverr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:8191"
  - domain: portainer.{{ domain_name }}
    upstream: "https://{{ docker_pve2_ip }}:9443"
    tls_skip_verify: true
  - domain: profilarr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:6868"
  - domain: prowlarr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:9696"
  - domain: pve.{{ domain_name }}
    upstream: "https://{{ pve_ip }}:8006"
    tls_skip_verify: true
  - domain: qbittorrent.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:8585"
  - domain: radarr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:7878"
  - domain: sonarr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:8989"
  - domain: ui.{{ domain_name }}
    upstream: "https://{{ ui_ip }}:443"
    tls_skip_verify: true
  - domain: papra.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:1221"
  - domain: zerobyte.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:4096"

# -------------------------------------------------------------------------
# External Records - Handled by VPS Caddy instance (ovh_vps)
# DNS proxied via Cloudflare, traffic routed through Tailscale
# -------------------------------------------------------------------------
external_reverse_proxy_records:
  - domain: bento.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:9100"
  - domain: homeassistant.{{ domain_name }}
    upstream: "http://{{ homeassistant_ip }}:8123"
    extra_headers:
      - "Host {host}"
      - "X-Real-IP {remote_host}"
  - domain: immich.{{ domain_name }}
    upstream: "http://{{ docker_pve_ip }}:2283"
  - domain: keep.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:3000"
  - domain: n8n.{{ domain_name }}
    upstream: "http://{{ docker_pve_ip }}:5678"
  - domain: plex.{{ domain_name }}
    upstream: "{{ plex_ip }}:32400"
  - domain: rw.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:9200"
  - domain: seerr.{{ domain_name }}
    upstream: "http://{{ docker_pve2_ip }}:5055"
