ansible/ansible.cfg
ansible/vault/.vault_password
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/secrets.auto.tfvars
**/*.secret.tfvars
**/.env
**/run.sh
**/.bitwarden/
**/client.crt
**/client.key
