# -----------------------------------------------------------
# Internal Records - DNS Managed by Cloudflare (External DNS)
# -----------------------------------------------------------
{% for record in reverse_proxy_records %}
{{ record.domain }} {
{% if record.tls_skip_verify | default(false) %}
  reverse_proxy {{ record.upstream }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
{% else %}
  reverse_proxy {{ record.upstream }}
{% endif %}
}
{% endfor %}
