DOMAIN=https://vault.ketwork.in
SIGNUPS_ALLOWED=false
ADMIN_TOKEN={{ vaultwarden_admin_token | replace('$', '$$') }}
PUSH_ENABLED=true
PUSH_INSTALLATION_ID={{ vaultwarden_push_installation_id }}
PUSH_INSTALLATION_KEY={{ vaultwarden_push_installation_key }}
SMTP_HOST=smtp.gmail.com
SMTP_FROM={{ vaultwarden_smtp_from }}
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME={{ vaultwarden_smtp_username }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
