---
- name: Fetch Bitwarden Secrets
  hosts: localhost
  connection: local
  gather_facts: false
  tags: always
  tasks:
    - name: Fetch Samba SSH password from Bitwarden
      shell: bws secret get {{ samba_ssh_password_uuid }} --access-token "{{ bws_access_token }}" --output json
      register: samba_ssh_password_result
      changed_when: false
      no_log: true
      when: samba_ssh_password_uuid is defined

    - name: Set Samba SSH password fact
      set_fact:
        samba_ssh_pass: "{{ (samba_ssh_password_result.stdout | from_json).value }}"
      no_log: true
      when:
        - samba_ssh_password_uuid is defined
        - samba_ssh_password_result.stdout is defined

    - name: Fetch Samba user password from Bitwarden
      shell: bws secret get {{ samba_user_password_uuid }} --access-token "{{ bws_access_token }}" --output json
      register: samba_user_password_result
      changed_when: false
      no_log: true
      when: samba_user_password_uuid is defined

    - name: Set Samba user password fact
      set_fact:
        samba_user_pass: "{{ (samba_user_password_result.stdout | from_json).value }}"
      no_log: true
      when:
        - samba_user_password_uuid is defined
        - samba_user_password_result.stdout is defined

    - name: Add Samba passwords to samba_share host
      add_host:
        name: samba_share
        samba_ssh_pass: "{{ samba_ssh_pass }}"
        samba_user_pass: "{{ samba_user_pass }}"
      no_log: true
      when:
        - samba_ssh_pass is defined
        - samba_user_pass is defined

- name: Setup Samba File Server
  hosts: samba_share
  become: true
  gather_facts: false

  vars:
    datastore_path: /mnt/datastore
    samba_user: smbuser

    directories:
      - path: "{{ datastore_path }}/downloads"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'
      - path: "{{ datastore_path }}/media"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'
      - path: "{{ datastore_path }}/media/movies"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'
      - path: "{{ datastore_path }}/media/tv"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'
      - path: "{{ datastore_path }}/media/music"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'
      - path: "{{ datastore_path }}/media/pictures"
        owner: "{{ samba_user }}"
        group: "{{ samba_user }}"
        mode: '0775'

  tasks:
    - name: Set SSH credentials for samba_share
      set_fact:
        ansible_ssh_pass: "{{ samba_ssh_pass }}"
      no_log: true

    - name: Gather facts
      setup:

    - name: Update apt cache
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install Samba and dependencies
      apt:
        name:
          - samba
          - samba-common
          - samba-common-bin
        state: present

    - name: Create smbuser system user
      user:
        name: "{{ samba_user }}"
        comment: "Samba share user"
        shell: /usr/sbin/nologin
        create_home: false
        system: false
        state: present

    - name: Create directory structure
      file:
        path: "{{ item.path }}"
        state: directory
        owner: "{{ item.owner }}"
        group: "{{ item.group }}"
        mode: "{{ item.mode }}"
      loop: "{{ directories }}"

    - name: Set Samba password for smbuser
      shell: |
        smbpasswd -a {{ samba_user }} <<EOF
        {{ samba_user_pass }}
        {{ samba_user_pass }}
        EOF
        smbpasswd -e {{ samba_user }}
      when: samba_user_pass is defined
      changed_when: false
      no_log: true

    - name: Configure Samba shares
      blockinfile:
        path: /etc/samba/smb.conf
        block: |
          [downloads]
             comment = Downloads Share
             path = {{ datastore_path }}/downloads
             browseable = yes
             writable = yes
             valid users = {{ samba_user }}
             create mask = 0664
             directory mask = 0775
             force user = {{ samba_user }}
             force group = {{ samba_user }}

          [media]
             comment = Media Share (Movies, TV, Music)
             path = {{ datastore_path }}/media
             browseable = yes
             writable = yes
             valid users = {{ samba_user }}
             create mask = 0664
             directory mask = 0775
             force user = {{ samba_user }}
             force group = {{ samba_user }}
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Datastore Shares"
        validate: 'testparm -s %s'
      notify: restart samba

    - name: Enable and start Samba services
      systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - smbd
        - nmbd

  handlers:
    - name: restart samba
      systemd:
        name: "{{ item }}"
        state: restarted
      loop:
        - smbd
        - nmbd
